.selector-for-some-widget {
  box-sizing: content-box;
}
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

body {
  font-family: 'Almarai', sans-serif;
}

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #383838;
  transition: 0.5s;
}
